:root{
    --main-color: black;
    --secondary-color: white;
    --bgmain-color: white;
    --bgbutton-color: black;
    --bgsecondary-color: black;
    --titlefont-font-family: 'Montserrat';
    --textfont-font-family:'Poppins';
    --main-padding: 0 1.25rem;
}

@media screen and (min-width: 460px) {
    body{
        max-width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    header {
        display: flex;
        justify-content: space-between;
        width: 1500px;
        margin: 0 auto;
        padding: 2.5rem 1.625rem ;

    }

    .Headre_Content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

    }
    .Header_Navigation>input{
        visibility: hidden;
    }
    .Header_Navigation{
        display: flex;
        align-items: center;
    }
    .Header_Nav>ul {
        display: flex;
        padding: 0;
        list-style-type: none;
    }
    .Header_Nav_Button{
        text-decoration: none;
        color: var(--bgsecondary-color);
        font-weight: 500;
        font-family: var(--textfont-font-family);
        font-size: 1.5rem;
    }
    .Header_Nav_Button:not(:first-child){
        padding-left: 45px;
    }
    .Header_Logo{
        margin-left: 3.125rem;
    }
    .Header_Logo_Text{
        text-align: center;
        text-decoration: none;
        color: var(--secondary-color);
        background-color: var(--bgsecondary-color);
        padding: 0.625rem 3.125rem ;
        font-family: var(--titlefont-font-family);
        font-weight: 800;
        font-size: 1rem;
    }
    .fa-magnifying-glass{

    }
    .fa-bag-shopping , .fa-magnifying-glass{
        color: var(--main-color);
        padding-left: 3.125rem;
    }
    .Banner_Container{
        width: 1500px;
        margin: 3.125rem auto;
        padding: 5px;
    }
    .Banner_Content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 20px;
    }
    .Banner_Photos{
        display: flex;
        margin-right: 3.438%;
    }

    .Banner_Vans_Small{
        position: relative;
        top:-50px;
    }
    .Banner_Text_Block{
        text-align: left;
    }
    .Banner_Text_Block_Tittle{
        font-family: var(--titlefont-font-family);
        font-size: 3rem;
        font-weight: 800;

    }
    .Banner_Text_Block_Text{
        font-family: var(--textfont-font-family);
        font-size: 1.125rem;
        font-weight: 500;
        padding-bottom: 2.813rem;
        display: flex;
        flex-direction: column;
    }
    .Banner_Button{
        font-family: var(--titlefont-font-family);
        background-color: var(--bgbutton-color);
        color: var(--secondary-color);
        border: none;
        border-radius: 0.938rem;
        padding: 0.625rem 3.125rem ;
        transition: 0.5s;
    }
    .Banner_Button:hover{
        color:var(--main-color);
        background-color: var(--secondary-color);
        border-radius: 1px;
        transition: 0.5s;
    }
    .Preview_Container{
        margin: 0 1.5rem;
    }
    .Preview_Content{
        display: flex;
        justify-content: center;

    }
    .Preview_Women{
        background-image: url("../img/white_boots.png");
        background-repeat: no-repeat;
        text-align: left;
        width:45.25rem;
        height:28.438rem;
        background-size: 100%;
        display: flex;
        justify-content: space-between;
        margin-right: 1rem;
    }
    .Preview_Women_Tittle{
        color: var(--secondary-color);
        font-family: var(--titlefont-font-family);
        font-size: 2.5rem;
        font-weight: 800;
        padding-left: 1.25rem;
        padding-top: 1.25rem;
    }
    .Preview_Women_Link{
        margin-top: 24.5rem;
        padding-right: 2.8rem;
        text-decoration: none;
        font-family: var(--textfont-font-family);
        color: var(--main-color);
        font-weight: 500;
        font-size: 1.125rem;
    }
    .Preview_Men{
        background-image: url("../img/black_under.png");
        background-repeat: no-repeat;
        text-align: left;
        width:45.25rem;
        height:28.438rem;
        background-size: 100%;
        display: flex;
        justify-content: space-between;

    }
    .Preview_Men_Tittle{
        color: var(--secondary-color);
        font-family: var(--titlefont-font-family);
        font-size: 2.5rem;
        font-weight: 800;
        padding-left: 1.25rem;
        padding-top: 1.25rem;
    }
    .Preview_Men_Link{
        position: relative;
        margin-top: 24.5rem;
        right: 590px;
        text-decoration: none;
        font-family: var(--textfont-font-family);
        color: var(--secondary-color);
        font-weight: 500;
        font-size: 1.125rem;
    }
    .Scroller_Container{
        margin: 3.125rem auto;
    }
    .Scroller_Content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .Scroller_Title{
        position: relative;
        right: 622px;
    }
    .Scroller_Title_Top{
        position: relative;
        right: 655px;
    }
    .Scroller_Title , .Scroller_Title_Top>span{
        font-family: var(--titlefont-font-family);
        font-size: 1.875rem;
        font-weight: 800;
    }
    .Scroller_Product_Container{
        display: flex;
        position: relative;
        height: 300px;
        width: 1468px;
        background: #fff;
        overflow-y: auto;
        direction: ltr;
        color: black;

    }
    .Scroller_Product_Container::-webkit-scrollbar {
        display: block;
        width: 5em;
        overflow: auto;
        height: 7px;
        background-color: #aaa;
    }
    .Scroller_Product_Container::-webkit-scrollbar-thumb {
        background: #000;
    }
    .Scroller_Product_Content{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .Product_Name{
        font-family: var(--textfont-font-family);
        font-size: 1.125rem ;
        font-weight: 600;
    }
    .Product_Price{
        font-family: var(--textfont-font-family);
        font-size: 1.125rem;
        font-weight: 400;

    }
    .Scroller_Product_Photo{
        padding-right: 10px;
        width: 250px;
    }
    .Mailing_Container{
        margin: 9.688rem;
        padding: 0;
    }
    .Mailing_Content{
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
        padding: 3.75rem 0;
    }
    .Mailin_Title{
        margin-bottom:0.938rem ;
    }
    .Mailin_Title>span{
        font-family: var(--titlefont-font-family);
        font-weight: 800;
        font-size:  2.5rem ;
    }
    .Mailing_Text{
        margin-bottom: 1.375rem;
    }
    .Mailing_Text>span{
        font-family: var(--textfont-font-family);
        font-weight: 500;
        font-size:  1.125rem ;
    }
    .Mailing_Submit>input{
        font-family: var(--textfont-font-family);
        font-weight: 500;
        font-size: 1.125rem;
        padding: 0.875rem 1.5rem ;
        background-color: var(--bgmain-color);
        border: 2px solid #000000;
        transition: 0.5s;
    }
    .Mailing_Submit>input:hover{
        background-color: var(--bgsecondary-color);
        color: var(--secondary-color);
        border-radius: 0.938rem;
    }
    footer{
        width: 100%;
        padding: 0;
        background-color: var(--bgsecondary-color);
    }
    .Footer_Content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 1.563rem ;

    }
    .Footer_Navigation{
        display: flex;
        width: 1500px;
    }
    .Footer_Nav>ul{
        padding: 0;
        list-style-type: none;
    }
    .Nav_Container_Top{
        text-align: left;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.875rem;
        width: 40%;
    }
    .Nav_Container_Bottom{
        width: 40%;
        text-align: left;
        display: flex;
        justify-content: space-between;
    }
    .Footer_Navigation{
        padding: 4rem 0 ;
        display: flex;
        justify-content: space-between;
        width: 53%;
    }
    .Footer_Nav_Content>span{
        font-family: var(--textfont-font-family);
        font-weight: 500;
        font-size: 0.875rem;
        color: rgba(196, 196, 196, 1);
        opacity: 0.5;
    }
    .Footer_Nav_Button{
        font-family: var(--textfont-font-family);
        font-weight: 500;
        font-size: 0.875rem;
        text-decoration: none;
        color: var(--secondary-color);
    }
    .Footer_Nav_Button>li{
        padding-bottom: 0.313rem;
    }
    .Footer_Socials{
        display: flex;
        flex-direction: column;
        margin-bottom: 2.688rem;
    }
    .Footer_Socials>span{
        font-family: var(--textfont-font-family);
        font-weight: 500;
        font-size: 0.875rem;
        color: rgba(196, 196, 196, 1);
        opacity: 0.5;
        padding-bottom: 1.188rem;
    }
    .Socials_Img>a:not(:first-child){
        padding-left: 0.813rem;
    }
    .Socials_Img{
        display: flex;
    }
    .Footer_Rights_Text{
        text-align: center;
    }
    .Footer_Rights_Text>span{
        font-family: var(--textfont-font-family);
        font-weight: 500;
        font-size: 0.75rem ;
        color: rgba(196, 196, 196, 1);
        opacity: 0.5;
    }

}